<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Analysis of Data Science Jobs</title>
  </head>
  <body>
    <h1>Analysis of Data Science Jobs</h1>
    <section id="introduction">
      <h2>Introduction</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean vitae nunc eu nunc sodales vulputate ac tincidunt turpis. Interdum et malesuada fames ac ante ipsum primis in faucibus. Morbi id nisl quam. Donec ornare pellentesque ligula, non vulputate sem finibus eget. Duis et commodo arcu. Aliquam ac ligula justo. Etiam bibendum magna eget elit tristique porttitor. Nam vel justo eu magna varius faucibus.</p>
    </section>
    <section id="salaries">
      <h2>Salaries</h2>
      <p>Aliquam tincidunt hendrerit metus non molestie. Suspendisse eu vulputate dui. Vivamus sodales facilisis lectus. Phasellus sit amet elit in mi aliquam suscipit. Mauris ullamcorper libero nulla, vitae iaculis erat dapibus ut. Sed fringilla eget ex vitae tristique. Pellentesque laoreet elit ex, eget feugiat lectus molestie sit amet. Duis leo lorem, faucibus sed eros laoreet, euismod feugiat justo.</p>
      <svg id="salaries-histogram"></svg>
      <svg id="salaries-by-geolocation"></svg>
      <svg id="salaries-by-skills"></svg>
    </section>
  </body>
</html>
